<div class="container">

    <div class="provider-text">
        <h3>Our providers</h3>
  <h2>Board-certified nurse practitioners at the heart of every visit.</h2>
  <p>
      Virtuwell's board certified nurse practitioners make each diagnosis and
      complete the treatment plans for our customers. By using nurse
    practitioners, Virtuwell enhances both the experience and the affordability
    of the service.
</p>
<a href="#">More about nurse practitioners ></a>
</div>
  <img [src]="url" alt="provider_img" width="350" height="400">

</div>