.container {
    display: flex;
    flex-direction: row;
}
.container h3 {
    color: #495057;
    font-weight: 500;
    font-size: 1.3rem;
}
.container h2 {
    color:black;
    font-weight: 700;
    font-size: 2.9rem;
    line-height: 3rem;
}
.container p {
    color:#495057;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5rem;
}
.provider-text {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    line-height: normal;
    margin-left: 20%;
    margin-bottom: 5rem;
}

.provider-text a {
    text-decoration: none;
    font-weight: 550;
    font-size: 18px;
    color: #954fba;
    background-color: transparent;
    padding-top: 1rem;
}
.provider-text a:hover {
    text-decoration: underline;
}

.container img {
    margin-right: 14rem;
    padding-top: 4.7rem;
}