.promise {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.images {
    margin: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.promise h2 {
    font-size: 25px;
    color: grey;
}
.promise h1 {
    font-size: 3rem;
    font-weight: bold;
}
.people {
    text-align: center;
    font-size: 17px;
}
.people p {
    color: grey;
    font-weight: 500;
}
.people h3 {
    font-size: 20px;
    color: black;
    font-weight: 500;
}
.peoples {
    display: flex;
    flex-direction: column;
 ;
}

.peoples img {
    max-width: 100%;
    
}