<div class="promise">
  <h2>Our Promise</h2>
  <h1>Four Dimensional Focus</h1>
</div>
<div class="images">
  <div class="peoples">
    <img [src]="url" alt="" />
    <div class="people">
      <h3>People</h3>
      <p>Simplify Healthcare</p>
    </div>
  </div>
  <div class="peoples">
    <img [src]="url1" alt="" />
    <div class="people">
      <h3>Experience</h3>
      <p>Make it lovable</p>
    </div>
  </div>

  <div class="peoples">
    <img [src]="url2" alt="" />
    <div class="people">
      <h3>Health</h3>
      <p>Be safe and effective</p>
    </div>
  </div>
  <div class="peoples">
    <img [src]="url3" alt="" />
    <div class="people">
      <h3>Stewardship</h3>
      <p>Save time and money.</p>
    </div>
  </div>
</div>
