<div id="footer">
    <div class="foot_nav">
      <ul>
        <li><a>FAQ</a></li>
        <li><a>Contact Us</a></li>
        <li><a>For Business</a></li>
        <li><a>Careers</a></li>
        <li><a>Blog</a></li>
      </ul>
    </div>
    <div class="sm_links">
      <a href="#"><img [src]="fb_url" alt="facebook" /></a>
      <a href="#"><img [src]="twitter_url" alt="twitter" /></a>
      <a href="#"><img [src]="instagram_url" alt="instagram" /></a>
    </div>
  </div>

<footer class="vw-footer">
  <div class="lang-bg">
    <a href="">English</a>
    <a href="">Español</a>
    <a href="">Hmoob</a>
    <a href="">Tiếng Việt</a>
    <a href="">繁體中文</a>
    <a href="">Русский</a>
    <a href="">Af Soomaali</a>
    <a href="">Oromiffa</a>   
    <a href="">አማርኛ</a>
    <a href="">unD</a>
    <a href="">ខ្មែរ</a>
    <a href="">Deitsch</a>
    <a href="">Srpsko-hrvatski</a>
    <a href="">ગુજરાતી</a>
    <a href="">اردو</a>
    <a href="">ພາສາລາວ</a>
    <a href="">Deutsch</a>
    <a href="">Français</a>
    <a href="">한국어</a>
    <a href="">Polski</a>
    <a href="">日本語</a>
    <a href="">Italiano</a>
    <a href="">ภาษาไทย</a>
    <a href="">ελληνικά</a>
    <a href="">Diné Bizaad</a>
    <a href="">Ikirundi</a>
    <a href="">Kiswahili</a>
    <a href="">नेपाली</a>
    <a href="">Norsk</a>
    <a href="">Adamawa</a>
    <a href="">українська</a>
    <a href="">हिंदी</a>
    <a href="">العربية</a>
    <a href="">Tagalog</a>
    <a href="">Shqip</a>
  </div>
  <div class="private">
    
    <div class="legal">
      <p class="privacy hovereffect">Notice of privacy practices</p>
      <p class="terms hovereffect">Terms of use and site privacy</p>
      <p class="statement hovereffect">Statement of nondiscrimination</p>
    </div>
    <div class="copyright">
      <p>
        Copyright © 2022 virtuwell.com
        <span>All rights reserved.</span>
      </p>
    </div>
    <div class="norton">
      <img [src]="url" alt=""/>
    </div>
  </div>
</footer>