.banner {
    background: url("https://www.virtuwell.com/assets/images/hero_inside-virtuwell.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
    /* margin-top: 1rem; */
    text-align: center;
}
.banner-text h1 {
    font-weight: bold;
    color: white;
    font-size: 350%;
    margin-top: 2rem;
}
.banner-text h3 {
    font-weight: bold;
    color: #aed248;
    font-size: 300%;
    line-height: 50px;
}

.banner-text {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    text-align: center;
    margin-bottom: 2rem;  
}

.btn-getstarted {
    background-color: #825FC2;
    color: white;
    border-radius: 0%;
}