.container {
    margin: 0;
}
.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    margin-left: 15%;
}
.image-text {
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    margin-left: 7rem;
}
.img-head {
    color: #495057;
    margin-left: 1rem;
}
.img-p {
    margin-top: 4rem;
    width: 25%;
    margin-left: -3rem;
    font-size: 15px;
    line-height: 1.5rem;
    font-weight: 500;
    color: #495057;
}