.container {
    margin: 0;
}
.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading h2 {
    font-size: 28px;
    color: #495057;
}
.heading h1 {
    margin-top: 1rem;
    font-size: 50px;
    color: black;
    font-weight: 500;
}

.img {
    margin-left: 15%;
}
.image-text {
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    margin-left: 7rem;
}

.img-head {
    color: #495057;
    margin-left: 1rem;
    margin-top: 3rem;
}
.img-p {
    margin-top: 6rem;
    width: 25%;
    margin-left: -3rem;
    font-size: 15px;
    line-height: 1.5rem;
    font-weight: 500;
    color: #495057;
}

@media screen and (max-width: 1024px) {
    .heading h1 {
        font-size: 30px;
    }
    .heading h2 {
        font-size: 18px;
    }
    .img {
        margin-left: auto;
        margin-right: auto;
    }
    .image-text {
        flex-direction: column;
        margin-left: 0rem;
    }
    .img-head {
        /* width: 100%; */
        /* justify-content: center; */
        margin-left: auto;
        margin-right: auto;
    }
    .img-head h2 {
        font-size: 1.5rem;
    }
    .img-p {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0rem;
        padding: 1rem;
    }
}