<div class="contact">
  <div class="business">
    <h3>For business</h3>
    <h1>Bring Virtuwell to your organization</h1>
    <hr class="th_break" />
  </div>
  <div class="perks">
    <div class="perks_subdiv" *ngFor="let business of businesses">
      <img
        [src]="business.image"
        alt="business_network"
      />
      <div class="perks_subsubdiv">
        <h3>{{ business.header }}</h3>
        <p>{{ business.para }}</p>
      </div>
    </div>
  </div>
  <button class="btn-contact"><a href="#">Contact us for business</a></button>
</div>
<div class="get-started">
  <h2>We're here to help</h2>
  <h1>Ready to give us a try?</h1>
  <button>Get started</button>
</div>
