<div class="header">
  <h3>Why we're different</h3>
  <h1>A better experience</h1>
</div>

<div class="table">
  <table>
    <tr>
      <th>Features</th>
      <th class="logo-cell">
        <img
          src="https://www.virtuwell.com/assets/images/logo-mobile.webp"
          alt="logo-mobile"
        />
      </th>
      <th>Traditional Healthcare</th>
    </tr>
    <tr>
      <td>
        <p>Open 24/7</p>
        <hr />
      </td>
      <td class="center-td">
        <p><mat-icon>check</mat-icon></p>
        <hr />
      </td>
      <td class="right-td">
        <p><mat-icon>close</mat-icon></p>
        <hr />
      </td>
    </tr>
    <tr>
      <td>
        <p>Start anytime, from any device</p>
        <hr />
      </td>
      <td class="center-td">
        <p><mat-icon>check</mat-icon></p>
        <hr />
      </td>
      <td class="right-td">
        <p><mat-icon>close</mat-icon></p>
        <hr />
      </td>
    </tr>
    <tr>
      <td>
        <p>No waiting rooms</p>
        <hr />
      </td>
      <td class="center-td">
        <p><mat-icon>check</mat-icon></p>
        <hr />
      </td>
      <td class="right-td">
        <p><mat-icon>close</mat-icon></p>
        <hr />
      </td>
    </tr>
    <tr>
      <td>
        <p>Private even in public - no sound or video required</p>
        <hr />
      </td>
      <td class="center-td">
        <p><mat-icon>check</mat-icon></p>
        <hr />
      </td>
      <td class="right-td">
        <p><mat-icon>close</mat-icon></p>
        <hr />
      </td>
    </tr>
    <tr>
      <td>
        <p>Easy to follow treatment plans</p>
        <hr />
      </td>
      <td class="center-td">
        <p><mat-icon>check</mat-icon></p>
        <hr />
      </td>
      <td class="right-td">
        <p><mat-icon>close</mat-icon></p>
        <hr />
      </td>
    </tr>
    <tr>
      <td>
        <p>Free follow-up care</p>
        <hr />
      </td>
      <td class="center-td">
        <p><mat-icon>check</mat-icon></p>
        <hr />
      </td>
      <td class="right-td">
        <p><mat-icon>close</mat-icon></p>
        <hr />
      </td>
    </tr>
    <tr>
      <td>
        <p>Money back guarantee</p>
        <hr />
      </td>
      <td class="center-td">
        <p><mat-icon>check</mat-icon></p>
        <hr />
      </td>
      <td class="right-td">
        <p><mat-icon>close</mat-icon></p>
        <hr />
      </td>
    </tr>
    <tr>
      <td>
        <p>No charges if we can't treat</p>
        <!-- <hr /> -->
      </td>
      <td id="last-td" class="center-td">
        <p>
          <mat-icon>check</mat-icon>
        </p>
        <!-- <hr /> -->
      </td>
      <td class="right-td">
        <p><mat-icon>close</mat-icon></p>
        <!-- <hr /> -->
      </td>
    </tr>
  </table>
</div>

<div class="header">
  <h3>Transparent Pricing</h3>
  <h1>Compare the cost</h1>
  <img [src]="url" alt="graph" />
</div>

<div class="guarantee"></div>

<mat-card class="card">
  <mat-card-title class="card-header"> Pay only when we help </mat-card-title>
  <mat-card-content class="card-content">
    At Virtuwell we charge a flat fee of $59, only when we send a treatment
    plan. There's no subscription or service fee just to access our clinic, and
    we don't charge by the minute. Even better, if we refer you to in-person
    care, there's no charge. All backed by our
    <a href="">oh-so-simple guarantee.</a>
  </mat-card-content>
</mat-card>

<div class="global">
  <!-- <div class="global-image"></div> -->
  <div class="impact-stats">
    <div class="impact">
      <h3>Our Impact</h3>
      <h1>Making healthcare more accessible and affordable.</h1>
    </div>
    <div class="stats">
      <hr class="th_break" />
      <p class="nums_data">We've saved an average</p>
      <p class="nums">$148</p>
      <p class="nums_data">for every treatment plan</p>
      <hr class="th_break" />
      <p class="nums_data">We've sent over</p>
      <p class="nums">500,000</p>
      <p></p>
      <p class="nums_data">treatment plans</p>
      <hr class="th_break" />
      <p class="nums_data">We've saved</p>
      <p class="nums">$57M</p>
      <p class="nums_data">in total healthcare costs</p>
    </div>
  </div>
</div>
